.navbar {
  height: 120px;
  display: flex;
  justify-content: center;
  background: #f5e0cb;

  .navbarContent {
    width: 100%;
    max-width: 1400px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
  }
}
