@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #474747;
  background: #fff6ed;
}

.page {
  width: 100%;
  height: calc(100vh - 120px);
  overflow-y: auto;
}

.page-background-side {
  .content-wrapper::after {
    content: "";
    position: fixed;
    top: auto;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 40%;
    background: url("/bg-pattern-bottom.svg") right 100% no-repeat;
    z-index: -1;
    background-size: cover;
  }
  @media only screen and (min-width: 1024px) {
    .content-wrapper::after {
      content: "";
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      width: 50%;
      height: 100%;
      background: url("/bg-pattern-side.svg") right 100% no-repeat;
      z-index: -1;
      background-size: cover;
    }
  }
}
.page-background-side-desktop-only {
  @media only screen and (min-width: 1024px) {
    .content-wrapper::after {
      content: "";
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      width: 50%;
      height: 100%;
      background: url("/bg-pattern-side.svg") right 100% no-repeat;
      z-index: -1;
      background-size: cover;
    }
  }
}

.page-background-bottom {
  @media only screen and (min-width: 1024px) {
    .content-wrapper::after {
      content: "";
      position: fixed;
      top: auto;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 50%;
      background: url("/bg-pattern-bottom.svg") right 100% no-repeat;
      z-index: -1;
      background-size: cover;
    }
  }
}

.page-background-bottom-small {
  @media only screen and (min-width: 1024px) {
    .content-wrapper::after {
      content: "";
      position: fixed;
      top: auto;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 50%;
      background: url("/bg-pattern-bottom.svg") right 100% no-repeat;
      z-index: -1;
      background-size: cover;
    }
  }
}

li::marker {
  font-size: 0.7em;
}

.container {
  margin-top: auto;
  margin-bottom: auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
