.page {
  .heading {
    display: flex;
    flex-direction: column;

    h1 {
      font-weight: 500;
      line-height: 1.6;
    }
  }

  .image-section {
    max-width: 40%;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
