.spoluprace-page {
  width: 100%;
  height: calc(100vh - 120px);

  .textCont {
    max-width: 600px;

    .highlight {
      font-weight: bold;
      color: #5b161b;
    }

    h2 {
      color: #5b161b;
      font-weight: bold;
    }
  }
}
