.ikigai-page {
  width: 100%;
  height: calc(100vh - 120px);

  .textCont {
    max-width: 640px;

    .highlight {
      font-weight: bold;
      color: #5B161B
    }

    h2 {
      color: #5b161b;
      font-weight: bold;
    }
  }

  .cardCont {
    max-width: 540px;
    padding: 30px;

    h3 {
      font-weight: 700;
      color: #4f3428;
    }
  }
}
