.formCont {
  background: white;
  border-radius: 22% 29% 27% 28% / 20% 36% 24% 27%;

  h4 {
    
  }

  input, textarea {
    border-radius: 1em;
    background-color: #F0F0F0;
    padding: 1rem;
  }

  .btn {
    font-weight: bold;
    background-color: #F9CE85;
    border-radius: 1em;
  }
}

.form-contact {
  border-radius: 3em;
  background: white;
}

.form-newsletter {
  border-radius: 3em;
  background: white;
}
