.formCont {
  background: white;
  padding: 2rem 3rem;
  border-radius: 2em;

  h4 {
    
  }

  input, textarea {
    border-radius: 1em;
    background-color: #F0F0F0;
    padding: 1rem;
  }

  .btn {
    font-weight: bold;
    background-color: #F9CE85;
    border-radius: 1em;
  }
}
